header {
	background-color: $medium-gray;
	border-top: 10px solid $dark-brown;
	padding: 40px 0;
}

.logo {
	background: no-repeat url("../img/logo.png");
	background-size: contain;
	display: inline-block;
	width: 100px;
	height: 50px;
}

.nav {
	background-color: $light-gray;
	float: right;
	padding: 0 20px;
	border-radius: 50px;

	li {
		list-style: none;
		display: inline-block;
		padding: 15px 20px;
		border-left: 2px solid $medium-gray;
	}

	li:first-child {
		border-left: none;
	}

	a {
		color: $dark-gray;
		text-transform: uppercase;
		font-size: 12px;
	}
}

.home {
	width: 17px;
	height: 17px;
	background: no-repeat url("../img/nav-controls/home-icon.png");
	display: inline-block;
}