.slider {
	margin-top: 100px;
	padding: 0 75px;
	position: relative;
}

.slider-content {
	width: 400px;
	display: inline-block;

	p {
		color: $dark-gray;
	}

	a {
		@extend %links;
		color: $dark-gray;
	}

	a img {
		margin-left: 5px;
	}
}

.slider-image {
	float: right;
}

.slider-controls {
	left: 50%;
	position: absolute;
	bottom: 0;
}

.elipse-control {
	height: 9px;
	width: 9px;
	display: inline-block;
}

.elipse-control-brown {
	background: no-repeat url("../img/nav-controls/elipsebrown.png");
}

.elipse-control-gray {
	background: no-repeat url("../img/nav-controls/elipsegray.png");
}

.arrow-left {
	position: absolute;
	left: 0;
}

.arrow-right {
	position: absolute;
	right: 0;
}