.slider {
	margin-top: 6.25em;
	padding: 0 4.68em;
	position: relative;
}

.slider-content {
	width: 25em;
	display: inline-block;

	p {
		color: $dark-gray;
	}

	a {
		@extend %links;
		color: $dark-gray;
	}

	a img {
		margin-left: 0.45em;
	}
}

.slider-image {
	float: right;
}

.slider-controls {
	width: 50em;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.elipse-control {
	height: 0.56em;
	width: 0.56em;
	display: inline-block;
}

.elipse-control-brown {
	background: no-repeat url("../img/nav-controls/elipsebrown.png");
}

.elipse-control-gray {
	background: no-repeat url("../img/nav-controls/elipsegray.png");
}

.arrow-left {
	position: absolute;
	left: 0;
}

.arrow-right {
	position: absolute;
	right: 0;
}