// Reset

* {
	margin: 0;
	padding: 0;
}

// General styles

body {
	font: 16px $font-main;
}

h2 {
	color: $cyan;
	text-transform: uppercase;
	font-size: 21px;
}

h3 {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 15px;
}