//Modules for sections with a three column layout
.three-col-module {
	width: 18.12em;
	display: inline-block;
	margin-left: 3.75em;
	text-align: center;

	a {
		@extend %links;
		color: $light-brown;
	}
}

//Featured section content
.ft-content {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	width: 30em;
	margin-left: 3.12em;
	padding: 3.12em 0;

	p {
		color: #fff;
		margin: 1em 0;
	}
}

.ft-image {
	background: no-repeat url("../img/ft-image.jpg");
	background-size: cover;
	width: 37.5em;
	height: 28em;
	display: inline-block;
}

//Head of section
.section-info {
	text-align: center;
	width: 50em;
	margin: 0 auto 2.5em;

	img {
		display: inline-block;
		margin: 0.62em 0;
	}
}