// Container

.page-wrap {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

// Blocks

.subsection {
	font-weight: bold;
	font-style: italic;
	width: 20%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	border-right: 1px solid gray;
	padding: 0 40px 80px 0;
	margin-bottom: 50px;
}

.section-info{
	display: inline-block;
	width: 70%;
	margin: 0 0 50px 30px;
	position: relative;
}