footer {
	background-image: url("../img/footer-bg.jpg");
	color: #fff;
	padding: 2.5em 0 4.37em;

	.footer-menu:first-child {
		margin-left: 0;
	}
}

.footer-menu {
	width: 12.5em;
	display: inline-block;
	vertical-align: top;
	margin-left: 4.37em;

	h3 {
		margin-bottom: 0.62px;
	}

	span {
		display: block;
	}

	a {
		margin-right: 0.62px;
	}
}

.nav-page {
	text-align: center;
	margin: 2.18em 0;
}