// Colors

// Theme Colors
$dark-gray: #9d9c9d;
$medium-gray: #e8e8e8;
$light-gray: #f5f4f4;

// Brand Colors
$dark-brown: #664735;
$light-brown: #826251;

// Font
$font-main: 'Roboto Condensed', sans-serif;
$font-titles: 'Quicksand', sans-serif;