//Modules for sections with a three column layout
.three-col-module {
	width: 25%;
	display: inline-block;
	margin-left: 60px;
	text-align: center;

	a {
		@extend %links;
		color: $light-brown;
	}
}

//Featured section content
.ft-content {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-left: 50px;
	padding: 50px 0;

	p {
		color: #fff;
		margin: 15px 0;
	}
}

.ft-image {
	background: no-repeat url("../img/ft-image.jpg");
	background-size: cover;
	width: 50%;
	height: 400px;
	display: inline-block;
}

//Head of section
.section-info {
	text-align: center;
	width: 50%;
	margin: 0 auto 40px;

	img {
		display: inline-block;
		margin: 10px 0;
	}
}